.venv
Makefile.save
brair-even.cast
dist
__pycache__
brain_even
__main__.py
#Makefile#
.poetry.lock.swp
.github
.git
Makefile~
poetry.lock
setup.cfg
brain_games/scripts/.__main__.py.swp
brain_games/scripts/.brain_games.py.swp
brain_games/scripts/.brain_games.swp
hexlet-git/

